{
  "extends": "airbnb",
  "plugins": ["mocha"],
  "env": {
  },
  "rules": {
    "object-curly-newline": ["warn", { "minProperties": 6 }],
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "max-len": ["warn", { "code": 120, "comments": 150 }],
    "no-mixed-operators": [1, {"allowSamePrecedence": true}],
    "no-console": [1, {"allow": ["warn", "error"]}],

    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/require-default-props": 0,

    "import/first": [1, { "absolute-first": false }],
    "import/no-named-as-default": 0,

    "mocha/no-exclusive-tests": "warn",
    "mocha/no-skipped-tests": "warn",
    "mocha/no-identical-title": "error"
  }
}
