{
  "extends": "airbnb",
  "plugins": ["jest"],
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "max-len": ["warn", { "code": 120, "comments": 150 }],
    "no-mixed-operators": [1, {"allowSamePrecedence": true}],

    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,

    "import/first": [1, { "absolute-first": false }],
    "import/no-named-as-default": 0,

    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}
